@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-light: #002B5B;
  --color-dark: #C4552F;
  --background-light: #E6E1D9;
  --background-dark: #292B2C;
  --test: #181616;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--color-light);
  background-color: var(--background-light);
  max-width: 1440px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
